@import "tailwindcss";


@theme {
  --color-background: #ffffff;
  --color-foreground: #0f2854;

  --color-azul-profundo: #0f2854;
  --color-azul-corporativo: #1c4d8d;
  --color-azul-soft: #4988c4;
  --color-azul-pastel: #bde8f5;
}

/* Opcional: regras globais */
body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
